<%- include('../admin/layouts/header')%>
<%- include('../admin/partials/adminheader')%>

<div class="container mt-5">
    <div class="d-flex align-items-center justify-content-between m-4">
        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Coupons</h2>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCouponModal">Add Coupon</button>
    </div>

    <table class="table table-striped border shadow-lg">
        <thead>
            <tr>
                <th>Sl no</th>
                <th>Coupon Name</th>
                <th>Coupon Code</th>
                <th>Start Date</th>
                <th>Expiry Date</th>
                <th>DiscountAmount</th>
                <th>usageLimit</th>
                <th>Minumum Purchase Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <% coupons.forEach((coupon,index) =>{ %> 
        <tbody>
            
            <tr>
                <td><%= index+1 %></td>
                <td><%= coupon.couponName %></td> 
                <td><%= coupon.couponcode %></td>

                <td><%= moment(coupon.startDate).format('YYYY-MM-DD') %></td>
                <td><%= moment(coupon.expiryDate).format('YYYY-MM-DD') %></td>

                <td><%= coupon.discountAmount %></td>
                <td><%= coupon.usageLimit %></td>
                <td><%= coupon.minimumPurchaseAmount %></td>
                <td>
                <% if (coupon.Status === 'Active') { %>
                    <a href="/admin/coupon/<%=coupon._id%>"><button onclick="return confirm('Are you sure you want to  block the coupon')" class="btn btn-success " >Block</button></a>
                <% } else if (coupon.Status === 'Blocked') { %>
                    <a href="/admin/coupon/<%=coupon._id%>"><button onclick="return confirm('Are you sure you want to  unblock the coupon')" class="btn btn-danger">Unblock</button></a>
                <% } %>
            </td>
            </tr>
        
        </tbody>
        <% }) %>
    </table>
</div>

<!-- Add Coupon Modal -->
<div class="modal fade" id="addCouponModal" tabindex="-1" role="dialog" aria-labelledby="addCouponModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCouponModalLabel">Add Coupon</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add form elements for adding a coupon -->
                <form action="/admin/addCoupon" method="post" id="addCouponForm">
                    <div class="form-group">
                        <label for="couponName">Coupon Name</label>
                        <input type="text" class="form-control" id="couponName" name="couponName" placeholder="Enter coupon name" >
                    </div>
                    <p id="couponName-error-msg" style="color: #bf1717; text-align: center;"></p>
                    <div class="form-group">
                        <label for="couponCode">Coupon Code</label>
                        <input type="text" class="form-control" id="couponCode" name="couponcode" placeholder="Enter coupon code" >
                    </div>
                    <p id="couponCode-error-msg" style="color: #bf1717; text-align: center;"></p>

                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" >
                    </div>
                    <p id="startDate-error-msg" style="color: #bf1717; text-align: center;"></p>

                    <div class="form-group">
                        <label for="expiryDate">Expiry Date</label>
                        <input type="date" class="form-control" id="expiryDate" name="expiryDate" >
                    </div>
                    <p id="expiryDate" style="color: #bf1717; text-align: center;"></p>
                    <div class="form-group">
                        <label for="discountAmount">Discount Amount</label>
                        <input type="number" class="form-control" id="discountAmount" name="discountAmount" placeholder="Enter discount amount" >
                    </div>
                    <p id="discountAmount-error-msg" style="color: #bf1717; text-align: center;"></p>

                    <div class="form-group">
                        <label for="usageLimit">Usage Limit</label>
                        <input type="number" class="form-control" id="usageLimit" name="usageLimit" placeholder="Enter usage limit"  >
                    </div>
                    <p id="usageLimit-error-msg" style="color: #bf1717; text-align: center;"></p>

                    <div class="form-group">
                        <label for="minimumPurchaseAmount">Minimum Purchase Amount</label>
                        <input type="number" class="form-control" id="minimumPurchaseAmount" name="minimumPurchaseAmount" placeholder="Enter minimum purchase amount" required >
                    </div>
                    <p id="minimumPurchase-error-msg" style="color: #bf1717; text-align: center;"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save Coupon</button>
            </div>
            </form>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get today's date
        const today = new Date();
        const tomorrow = new Date(today);
        tomorrow.setDate(today.getDate() + 1);

        // Set the minimum value for the Start Date input to today
        document.getElementById('startDate').min = formatDate(today);
        document.getElementById('expiryDate').min = formatDate(tomorrow);

        // Add event listener to the form submit event
        document.getElementById('addCouponForm').addEventListener('submit', function (event) {
            // Perform discount amount validation
            const discountAmountInput = document.getElementById('discountAmount');
            const discountAmount = parseFloat(discountAmountInput.value);
            const minimumPurchaseAmountInput = document.getElementById('minimumPurchaseAmount');
            const minimumPurchaseAmount = parseFloat(minimumPurchaseAmountInput.value);
            const usageLimitInput = document.getElementById('usageLimit');
            const usageLimit = parseInt(usageLimitInput.value, 10);
            const couponCodeInput = document.getElementById('couponCode');
            const couponNameInput = document.getElementById('couponName');
            const startDateInput = document.getElementById('startDate');
            const expiryDateInput = document.getElementById('expiryDate');

            // Check if any field is empty
            if (!couponNameInput.value.trim()) {
                const errorMessage = document.getElementById('couponName-error-msg');
                errorMessage.innerHTML = 'Coupon name is required.';
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);
                event.preventDefault();
                return;
            }

            if (!couponCodeInput.value.trim()) {
                const errorMessage = document.getElementById('couponCode-error-msg');
                errorMessage.innerHTML = 'Coupon code is required.';
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);
                event.preventDefault();
                return;
            }

            if (!startDateInput.value) {
                const errorMessage = document.getElementById('startDate-error-msg');
                errorMessage.innerHTML = 'select a start date.';
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);
                event.preventDefault();
                return;
            }

            if (!expiryDateInput.value) {
                const errorMessage = document.getElementById('expiryDate-error-msg');
                errorMessage.innerHTML = "Expiry date is required.";
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);
                event.preventDefault();
                return;
            }

            if (!discountAmountInput.value) {
                const errorMessage = document.getElementById('discountAmount-error-msg');
                errorMessage.innerHTML = "Discouont amount is required";
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);
                event.preventDefault();
                return;
            }

            if (!minimumPurchaseAmountInput.value) {
                const errorMessage = document.getElementById('minimumPurchase-error-msg');
                errorMessage.innerHTML = 'Minimum purchase amount is required.';
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);;
                event.preventDefault();
                return;
            }

            if (!usageLimitInput.value) {
                const errorMessage = document.getElementById('usageLimit-error-msg');
                errorMessage.innerHTML = 'usagelimit is required.';
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);;
                event.preventDefault();
                return;
            }

            // Check if coupon code and coupon name are at least 4 characters long
            if (couponCodeInput.value.trim().length < 4){  
                const errorMessage = document.getElementById('couponName-error-msg');
                errorMessage.innerHTML = 'coupon name must be 4 letters';
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);;
                event.preventDefault();
                return;
            }

            if(couponNameInput.value.trim().length < 4) {
                const errorMessage = document.getElementById('couponCode-error-msg');
                errorMessage.innerHTML = 'coupon code must be 4 letters';
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);;
                event.preventDefault();
                return;
            }

            // Check if discount amount is less than 1 rupee or greater than or equal to 10% of the minimum purchase amount
            if (discountAmount <= 0 || discountAmount >= 0.1 * minimumPurchaseAmount) {
                const errorMessage = document.getElementById('discountAmount-error-msg');
                errorMessage.innerHTML = 'Discount amount must be greater than 0 and less than 10% of the minimum purchase amount.';
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);;
                event.preventDefault();
                return;
            }

            // Check if usage limit is between 1 and 15
            if (usageLimit <= 0 || usageLimit > 15) {
                const errorMessage = document.getElementById('usageLimit-error-msg');
                errorMessage.innerHTML = 'Usage limit must be between 1 and 15.';
                setTimeout(() => {
                    errorMessage.innerHTML = "";
                }, 1000);;
                event.preventDefault();
                return;
            }
        });

        // Function to format the date as 'YYYY-MM-DD' (required format for input type="date")
        function formatDate(date) {
            const year = date.getFullYear();
            const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Months are 0-based
            const day = date.getDate().toString().padStart(2, '0');
            return `${year}-${month}-${day}`;
        }
    });
</script>



<%- include('../admin/layouts/footer') %>
