<%- include('../user/layouts/header')%>    
<%- include('../user/partials/userheader')%>
<style>
  body{
    background:linear-gradient(130deg,rgb(56, 137, 198) , rgb(138, 138, 138));
    color:black;
  }
  h2{
    color: white;
  }
  .card-title{
    color:black;
  }
  p{
    color: black;
    font-size: smaller;
  }
  .credited{
    color: red;
  }
  .debited {
    color:green
  }
</style>

<div class="container" style="padding-top:90px;" >
  <div class="d-flex justify-content-center align-items-center">

    <h2>Wallet Transactions</h2>
  </div>

  <% user.walletTransactions.reverse().forEach(transaction => { %>
    <div class="row m-2 rounded shadow">
      <div class="card">
          <div class="card-body col-md-12 d-flex">
              <div class="col-md-8">
                  <h5 class="card-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Order ID: <%= transaction.orderId %></h5>
                  <p>Date: <%= moment(transaction.Date).format('lll') %></p>
                  <p>Order Details: <%= transaction.OrderDetails %></p>
              </div>
              <div class="text-right col-md-2">
                  <p class="<% transaction.Status === 'Credited' ? 'credited': 'debited '%>">Status: <b><%= transaction.Status %></b></p >
                  <p><span style="font-size: larger; font-weight: 500;">
                    Amount: <%= transaction.Amount %>.00 /-
                  </span></p>
                </div>
                <div class="col-md-2 align-items-center d-flex">
                <div class="d-flex justify-content-center align-items-center mb-4">
                  <% if(transaction.orderId !== 'Refferel') {%>
                    <a href="/order/orderdetails/<%= transaction.orderId %>" class="btn btn-info">View Details</a>
                     <%} %> 
                </div></div>
              </div>
          <div class="details">
              <!-- Additional details can be added here -->
          </div>
        </div>
      </div>
  <% }); %>


<%-include('../user/layouts/footer') %>
